body {
    display:flex;
    flex-direction: column;
}


.buttons-container {
display:flex;
justify-content:center;
align-items:center;
gap:25px;
height:200px;
border:5px solid black;
}

.score-table {
    display:flex;
    gap:10px;
    justify-content:center;
    align-items:flex-end;
    height:200px;
    background-color: aqua;

}